/SCDB_2020_01_caseCentered_Citation.sav
/SCDB_2020_01_caseCentered_Docket.sav
/SCDB_2020_01_caseCentered_LegalProvision.sav
/SCDB_2020_01_caseCentered_Vote.sav
/SCDB_2020_01_justiceCentered_Citation.sav
/SCDB_2020_01_justiceCentered_Docket.sav
/SCDB_2020_01_justiceCentered_LegalProvision.sav
/SCDB_2020_01_justiceCentered_Vote.sav
